.background-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}

.background-svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
