@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

* {

    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html, body, #root {
    height: 100%;
    width: 100%;
}
/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://img.playbook.com/IZSaaisbuPYRUSQYBZckzA61Px-1dJx2_5pGRp3N4dk/Z3M6Ly9wbGF5Ym9v/ay1hc3NldHMtcHVi/bGljLzRkZmUwYjQ2/LWRhNjAtNDQ2Yy1h/Y2UxLWM0ZTZkMGI3/NTdlMA")no-repeat;
    background-size: cover;
    background-position: center;

}*/


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* 80px pour la hauteur estimée de la navbar */
    width: 100%;
    padding: 20px;
    margin-top: 80px; /* Espace pour la navbar */
}

.wrapper {

    width: 420px;
    background-color: transparent;
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
}

.wrapper .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link p a:hover {
    text-decoration: underline;
}

.btn:hover {
    border-color: #646cff;
}